*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  color: white;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.welcome-text {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-shadow: 0 0 10px #1db954;
}
.main-content {
  flex-grow: 1; 
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
.login-container{
  display: flex;
  flex-direction: column;
}
button.login-btn {
    align-self: center;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1db954;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button.login-btn:hover{
  background-color: #179E47;
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.spotify-login-btn:active {
    background-color: #148C3D;
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

img.user-img{
  width: 64px;
    height: auto;
    border: 3px #ffa500 solid;
}

footer {
  width: 100%;
  background-color:rgba(30, 0, 54, 0.8);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center; 
  gap: 15px; 
  border: rgb(82, 37, 119) solid;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

header {
    background-color: #1e0036bf;
    padding: 20px;
    text-align: center;
    border: rgb(82, 37, 119) solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title {
  max-width: 300px;
  width: 80%;
  height: auto;
}

.github-icon {
  fill: white;
  width: 5vw;
  height: 5vh;
  color: white;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}
.github-icon:hover{
  color: #FF69B4;
  text-shadow: 0 0 10px #FF69B4;
}