.artist-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.artist-img{
    flex-grow: 1;
    width: 20vw;
    height: auto;
}
.btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.back-btn{
    min-width: 6.5vw;
    align-self: flex-start;
    height: auto;
    cursor: pointer;
    margin: 2.5vw;
    border: 3px #ffa500 solid;
    box-shadow:0 0 10px 3px #ffa500;
    background-color: rgba(30, 0, 54, 0.5);
    color: white;
}
.artist-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(30, 0, 54, 0.5);
    animation: pulsate 2s infinite;
}
.album-list{ 
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.album-list img{
    width: 10vw;
    height: auto;
}
@keyframes pulsate{
    0%{
        box-shadow: 0 0 7px 1px #FF00FF;
    }
    50%{
        box-shadow: 0 0 7px 4px #FF00FF;
    }
    100%{
        box-shadow: 0 0 7px 1px #FF00FF;
    }
}